* {
  padding: 0px;
  margin: 0px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  font-style: italic;
}

/* variables  */
:root {
  --highlight: rgba(167, 196, 160);
  --headingfont: "Josefin Sans", sans-serif;
}

/* main logo  */
.logo {
  max-width: 5em;
  margin: 2em;
}

/* title */
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.container {
  margin-left: 8em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4em;
  grid-auto-flow: column;
}

/* applied to container when pop up opens  */
.blur {
  filter: blur(20px);
  /* enable to click the button again to remove the blur */
  pointer-events: none;
  height: 100vh;
}

.quote {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--highlight);
  padding: 1em 2em;
  max-height: 7em;
}

.quote p {
  padding-top: 1em;
  float: right;
}

/* list styling for the tasks  */
ul {
  list-style-type: none;
}

ul li:before {
  content: "-";
  position: absolute;
  margin-left: -1em;
}

ul li {
  padding: 0.5em;
  margin-left: 2em;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}

ul li img {
  width: 1em;
  height: 1em;
  margin-left: 2em;
  padding: 2px;
}

ul li img:hover {
  background-color: var(--highlight);
  padding: 2px;
  border-radius: 50%;
}

/* inspiration for the floating action buttons https://youtube.com/shorts/K4Yp34F6IsY?feature=share */
/* tutorial on the floating action buttons https://www.youtube.com/watch?v=Ra4gyXQ4Naw  */
/* floaring action button container */
.fab {
  position: absolute;
  bottom: 2em;
  right: 2em;
  z-index: 1;
}

.fa-image {
  max-width: 1em;
}

/* the plus sign circle  */
.fab-content {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* rotation on the plus sign  */
.fab-content-after {
  transform: rotate(45deg);
  transition: transform 0.5s ease-in-out 0.1s;
}

/* title and taks adding buttons */
.fab-items {
  position: absolute;
  top: 15%;
  left: 20%;
  z-index: -1;
}

.item {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

/* tarsforming the buttons from under the plus sign  */
.task {
  transform: translate(0, -70px);
  transition: transform 0.5s ease-in-out 0.1s;
  z-index: 2;
}

.title {
  transform: translate(0, -130px);
  transition: transform 0.5s ease-in-out 0.1s;
  z-index: 2;
}

/* pop up window  */
.pop-up-window {
  background-color: #ffffff;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 60vw;
  height: 60vh;
  transform: translate(-50%, -50%);
  padding: 3em;
  opacity: 0;
  transition: 0.5s;
  border: 3px solid #000000;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* applied when pop up opened */
.pop-up-open {
  top: 50%;
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
}

.input-box {
  padding: 1em;
  font-size: 1em;
}

input:focus {
  outline-style: none;
  border: 3px solid var(--highlight);
}

.submit-button {
  background-color: black;
  color: white;
  font-family: var(--headingfont);
  font-style: normal;
  padding: 1em 2em;
  text-align: center;
  font-size: 1em;
  border: 1px solid #000000;
  max-width: 20vw;
}

/* light responsiveness  */
@media only screen and (max-width: 600px) {
  .logo {
    max-width: 2em;
    margin: 1em;
  }
  .container {
    margin-left: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .quote {
    grid-area: 1 / 1 / 2 / 2;
    max-height: fit-content;
    margin-bottom: 2em;
  }

  .todolist {
    grid-area: 2 / 1 / 3 / 2;
  }

  ul {
    margin-right: 2em;
    margin-bottom: 2em;
  }
}
